@import "https://raw.githubusercontent.com/kritik-sah/go-green-ganesha/main/main.css";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth !important;
  background-color: rgba(145, 241, 145, 0.329);
  font-family: "Poppins", sans-serif;
}
.nav-link {
  margin: auto 2rem;
}
.heading{
    font-size: 3rem;
    font-weight: bolder;
}
.rounded{
    border-radius: 20px !important;
}

.vendor-ganesh {
  height: auto;
  width: 80%;
  margin: auto !important;
}
.colored-container {
  color:rgba(0, 141, 0, 0.664);
  background-color: rgba(145, 241, 145, 0.329);
  
}
.a{
    color:rgb(0, 87, 0);
    background-color: aliceblue !important;
}
.a:hover{
    color:rgb(23, 199, 23);
}

.footer{
    background-color: aliceblue;
    color:rgb(0, 87, 0);
    border-top: 2px solid black;
    margin-top: 2rem;
}

 /* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .heading{
    font-size: 2rem;
    font-weight: bold;
}
 }

 /* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  .heading{
    font-size: 2rem;
    font-weight: bold;
}
 }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }
